* { 
    box-sizing: border-box; 
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    /* line-height: 1.6;
    padding: 20px; */
}

main {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}

section {
    background-color: #FFF;
    padding: 20px; /* Increased padding for better spacing */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px; /* Added margin for spacing between sections */
}

form {
    display: flex;
    gap: 0.75rem;
}

form input {
    flex: 1;
}

@media (max-width: 375px) {
    form {
        flex-direction: column;
    }

    form input {
        width: 100%;
    }

    form button {
        width: 100%;
    }

}

/* estilização de tarefas concluídas */

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}